<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1847},{190,170}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{190,170}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1338},{259,155}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{259,155}}</string>
                <key>sourceSize</key>
                <string>{297,187}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1618},{218,155}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{218,155}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>enter_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1169},{466,167}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{466,167}}</string>
                <key>sourceSize</key>
                <string>{480,199}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1847},{618,174}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{618,174}}</string>
                <key>sourceSize</key>
                <string>{628,192}</string>
            </dict>
            <key>head_coin_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1753},{334,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{334,86}}</string>
                <key>sourceSize</key>
                <string>{378,110}</string>
            </dict>
            <key>main_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1169},{1080,237}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,237}}</string>
                <key>sourceSize</key>
                <string>{1080,239}</string>
            </dict>
            <key>option_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1165}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{1080,1165}}</string>
                <key>sourceSize</key>
                <string>{1080,1191}</string>
            </dict>
            <key>option_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1169},{78,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{78,80}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>option_coin_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1618},{167,114}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,114}}</string>
                <key>sourceSize</key>
                <string>{179,114}</string>
            </dict>
            <key>option_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1249},{74,75}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>option_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1169},{861,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{861,141}}</string>
                <key>sourceSize</key>
                <string>{903,147}</string>
            </dict>
            <key>profile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1169},{676,238}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,238}}</string>
                <key>sourceSize</key>
                <string>{678,240}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1408},{343,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{343,89}}</string>
                <key>sourceSize</key>
                <string>{351,107}</string>
            </dict>
            <key>xp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1338},{273,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{273,65}}</string>
                <key>sourceSize</key>
                <string>{273,69}</string>
            </dict>
            <key>xp_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1325},{291,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{291,67}}</string>
                <key>sourceSize</key>
                <string>{291,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72cb6ea8900dad1e195d0c858f4ee397:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
