<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,276},{156,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,79}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>bb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,278},{167,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,92}}</string>
                <key>sourceSize</key>
                <string>{167,92}</string>
            </dict>
            <key>bb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,180},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,111}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>bb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,58},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,121}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>gx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,468},{6,171}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{6,171}}</string>
                <key>sourceSize</key>
                <string>{6,181}</string>
            </dict>
            <key>gx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,278},{21,171}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{21,171}}</string>
                <key>sourceSize</key>
                <string>{21,181}</string>
            </dict>
            <key>gx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,278},{44,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,181}}</string>
                <key>sourceSize</key>
                <string>{44,181}</string>
            </dict>
            <key>gx3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{43,195}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{43,195}}</string>
                <key>sourceSize</key>
                <string>{57,229}</string>
            </dict>
            <key>gx4 _cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,280},{56,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,192}}</string>
                <key>sourceSize</key>
                <string>{56,192}</string>
            </dict>
            <key>gx4 _cw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,278}}</string>
                <key>sourceSize</key>
                <string>{156,278}</string>
            </dict>
            <key>gx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{56,187}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,187}}</string>
                <key>sourceSize</key>
                <string>{56,195}</string>
            </dict>
            <key>gx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{92,187}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{92,187}}</string>
                <key>sourceSize</key>
                <string>{92,195}</string>
            </dict>
            <key>zhangaidonghu_zhangai.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{157,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,161}}</string>
                <key>sourceSize</key>
                <string>{157,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiguang.png</string>
            <key>size</key>
            <string>{476,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331b69e436eab108e26cae6d31c803ce:1/1$</string>
            <key>textureFileName</key>
            <string>jiguang.png</string>
        </dict>
    </dict>
</plist>
